<ion-view view-title="WFL" id="friends-page">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person-add"
                ng-click="addFriendModal()">
        </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader friend-item user-item">
        <div class="food-image"></div>
        <div class="user-image">
            <img ng-if="currentUser.picUrl" ng-src="{{currentUser.picUrl}}" alt="profile" />
            <img ng-if="!currentUser.picUrl" src="http://3.bp.blogspot.com/-zR75pEKCSSU/VYGjwNogrmI/AAAAAAAAA1Y/xgPrSXra3fE/s200-c/darts-102919_1280.jpg" alt="profile" />
        </div>
        <h2 class="user-name">{{currentUser.name}}</h2>
        <p class="user-desc">some stuff here</p>
        <div class="actions">
            <button class="button button-clear">
                foo
            </button>
        </div>
    </div>
    <ion-content class="post-content has-footer has-header has-subheader">
        <ion-list>
            <ion-item class="friend-item"
                      ng-repeat="friend in friends | filter : searchFriend">
                <div class="food-image"></div>
                <div class="user-image">
                    <img ng-if="friend.picUrl" ng-src="{{friend.picUrl}}" alt="profile" />
                    <img ng-if="!friend.picUrl" src="http://3.bp.blogspot.com/-zR75pEKCSSU/VYGjwNogrmI/AAAAAAAAA1Y/xgPrSXra3fE/s200-c/darts-102919_1280.jpg" alt="profile" />
                </div>
                <div class="text-container" ng-click="sendMessage(friend)">
                    <h2>{{friend.name}}</h2>
                    <p>some stuff here later</p>
                </div>
                <div class="actions">
                    <button class="button button-clear">
                        foo
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-light item-input-inset" keyboard-attach>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Type friend name to search" ng-model="searchFriend">
        </label>
    </ion-footer-bar>
</ion-view>