<ion-view view-title="Login" id="login-page">
	<ion-content scroll="false">
		<div class="content">

			<div class="logo">
			</div>
			<div class="logo-name">
				What's for Lunch?
			</div>

			<label class="item item-input label">
				<input ng-model="credentials.email" type="email" placeholder="email">
			</label>
			<label class="item item-input label">
				<input ng-model="credentials.password" type="password" placeholder="password">
			</label>

			<button ng-click="doLogin();" class="button button-assertive button-small login-button first-button">
				LOGIN
			</button>
			<button ng-click="doFbLogin();" class="button button-positive button-small login-button">
				LOGIN w/ FACEBOOK
			</button>
			<a ng-href="#/signup" class="button button-clear button-block button-assertive">
				Create an Account
			</a>

		</div>

	</ion-content>
</ion-view>
