<ion-view id="message-view">
    <ion-nav-title>{{friendObj.name}}</ion-nav-title>
    <ion-content scroll="false">
        <div class="flex-container">

            <ion-scroll class="message-list"
                        delegate-handle="message-list">
                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="doRefresh()">
                </ion-refresher>
                <div class="list">

                    <div ng-repeat="message in messages"
                        ng-if="message.food || message.wfl"
                        class="message-wrapper">

                        <div class="chat-box"
                            ng-class="{'left': message.from == friendObj.id, 'right' : message.from == currentUser.id}">

                            <div class="user-image profile-picture"
                                ng-if="message.from == friendObj.id">
                                <img ng-if="friendObj.picData || friendObj.picUrl"
                                    ng-src="{{friendObj.picData ? ('data:image/jpeg;base64,' + friendObj.picData) : friendObj.picUrl }}"
                                    alt="profile" />
                            </div>

                            <div class="food-detail">
                                <div class="food-image"
                                     ng-class="message.food.spriteClass || 'sprite-1'"
                                     alt="{{message.food.name}}"
                                     ng-if="message.food"
                                     ng-style="{'background-position': (message.food.x * foodSize)+'px '+(message.food.y * foodSize)+'px' }">
                                </div>
                                <div class="wfl-image"
                                    alt="WFL?"
                                    ng-if="message.wfl">
                                </div>
                                <div class="message-detail">
                                    <span>{{message.date | amCalendar}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="cf"></div>
                    </div>

                </div>
            </ion-scroll>

            <div class="food-grid"
                ng-init="foodSet = (foodIcons | groupItems:4)">

                <div class="container">

                    <ion-scroll class="food-scroll"
                            delegate-handle="food-grid">
                        <div class="row" ng-repeat="iconRow in foodSet track by $index">
                            <div class="col"
                                 ng-class="{'selected-icon': foodSelected === item}"
                                 ng-repeat="item in iconRow track by item.name"
                                 ng-click="selectFood(item)">
                                <div class="food-image"
                                     ng-class="item.spriteClass || 'sprite-1'"
                                     alt="{{item.name}}"
                                     ng-style="{'background-position': (item.x * foodSize)+'px '+(item.y * foodSize)+'px' }">
                                </div>
                            </div>
                        </div>

                    </ion-scroll>

                    <div class="btn-container">
                        <div class="button-bar">
                            <button id="send-button" class="button button-assertive"
                                    ng-click="addMessage()">
                                SEND
                            </button>
                            <button id="wfl-button" class="button button-dark"
                                    ng-click="sendWfl()">
                                WFL?
                            </button>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </ion-content>

</ion-view>
