<ion-view id="message-view">
    <ion-nav-title>{{friendObj.name}}</ion-nav-title>
    <ion-content class="has-footer" scroll="false">
        <div class="flex-container">

            <ion-scroll class="message-list"
                        delegate-handle="message-list">
                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="doRefresh()">
                </ion-refresher>
                <div class="list">
                    <div class="">
                        <div ng-repeat="message in messages" class="message-wrapper">

                            <div ng-if="message.from == friendObj.id">
                                <div class="chat-bubble left">
                                    <div class="message preword" ng-if="message.message">
                                        {{message.message}}
                                    </div>
                                    <div class="food-image"
                                         alt="{{message.food.name}}"
                                         ng-if="message.food"
                                         ng-style="{'background-position': (message.food.x * foodSize)+'px '+(message.food.y * foodSize)+'px' }">
                                    </div>
                                    <div class="message-detail">
                                        <span>{{message.date | amCalendar}}</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="message.from == currentUser.id">
                                <div class="chat-bubble right">
                                    <div class="message preword" ng-if="message.message">
                                        {{message.message}}
                                    </div>
                                    <div class="food-image"
                                         alt="{{message.food.name}}"
                                         ng-if="message.food"
                                         ng-style="{'background-position': (message.food.x * foodSize)+'px '+(message.food.y * foodSize)+'px' }">
                                    </div>
                                    <div class="message-detail">
                                        <span>{{message.date | amCalendar}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cf"></div>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll
                        ng-if="!postsCompleted"
                        on-infinite="getMessages()"
                        immediate-check="true"
                        distance="1%">
                </ion-infinite-scroll>
            </ion-scroll>

            <ion-scroll class="food-grid"
                    delegate-handle="food-grid"
                    ng-init="foodSet = (foodIcons | groupItems:4)">
                <div class="row" ng-repeat="iconRow in foodSet track by $index">
                    <div class="col"
                         ng-class="{'selected-icon': foodSelected === item}"
                         ng-repeat="item in iconRow track by item.name"
                         ng-click="selectFood(item)">
                        <div class="food-image"
                             alt="{{item.name}}"
                             ng-style="{'background-position': (item.x * foodSize)+'px '+(item.y * foodSize)+'px' }">
                        </div>
                    </div>
                </div>

            </ion-scroll>

        </div>
    </ion-content>

    <div class="bar bar-footer bar-stable comment-stable-main" keyboard-attach>
        <button id="send-button" class="button button-block button-assertive"
                ng-click="addMessage()">
            SEND
        </button>
    </div>

</ion-view>
