<ion-view view-title="Profile" id="profile-page">
  <ion-content has-header="true" scroll="false">

    <div id="profile-top" >
      <div class="profile-picture">
        <img class="pic"
            ng-if="user.picData || user.picUrl"
            ng-src="{{user.picData ? ('data:image/jpeg;base64,' + user.picData) : user.picUrl }}"
            alt="profile" />
      </div>
      <div class="details">
          <span class="text">{{user.name}}</span>
      </div>
      <button id="change-pic"
              ng-if="user.id === currentUser.id"
              ng-click="uploadPhoto()"
              class="button button-icon icon ion-camera icon-action">
      </button>
      <button id="add-friend"
              ng-if="user.id !== currentUser.id && !alreadyFriend"
              ng-click="addFriend(user)"
              class="button icon-left ion-plus icon-action">
              Add Friend
      </button>
      <button id="remove-friend"
              ng-if="user.id !== currentUser.id && alreadyFriend"
              ng-click="removeFriend(user)"
              class="button icon-left ion-minus icon-action">
              Unfriend
      </button>
    </div>

  </ion-content>

</ion-view>
