<ion-view view-title="Food Log" id="profile-page">
  <ion-content class="profile-content" has-header="true" scroll="false">

    <div id="profile-top" >
      <div class="profile-picture">
        <img class="pic"
            ng-if="user.picData || user.picUrl"
            ng-src="{{user.picData ? ('data:image/jpeg;base64,' + user.picData) : user.picUrl }}"
            alt="profile" />
      </div>
      <div class="details">
          <span class="text">{{user.name}}</span>
      </div>
      <button id="change-pic"
              ng-if="user.id === currentUser.id"
              ng-click="uploadPhoto()"
              class="button button-icon icon ion-camera icon-action">
      </button>
      <button id="add-friend"
              ng-if="user.id !== currentUser.id && !alreadyFriend"
              ng-click="addFriend(user)"
              class="button icon-left ion-plus icon-action">
              Add Friend
      </button>
      <button id="remove-friend"
              ng-if="user.id !== currentUser.id && alreadyFriend"
              ng-click="removeFriend(user)"
              class="button icon-left ion-minus icon-action">
              Unfriend
      </button>
    </div>

    <ion-scroll class="log-grid">
        <div class="no-data" ng-if="!foodLog || foodLog.length === 0">
            No Food Updates
        </div>
        <div class="row row-center log-row"
            ng-repeat="(day, foodArr) in foodLog">
            <div class="col col-20 log-col-label">
                {{day}}
            </div>
            <div class="col log-col-content">
                <div class="food-entry"
                    ng-repeat="item in foodArr">
                    <div class="food-image"
                         alt="{{item.food.name}}"
                         ng-style="{'background-position': (item.food.x * foodSize)+'px '+(item.food.y * foodSize)+'px' }">
                    </div>
                    <div class="food-time">
                        {{item.time}}
                    </div>
                </div>
            </div>
        </div>

    </ion-scroll>

  </ion-content>

</ion-view>
