<ion-view view-title="Register" id="signup-page">
	<ion-content scroll="false">
		<div class="content">
			<p class="logo">
				Logo goes here.
			</p>
			<label class="item item-input label">
				<input ng-model="credentials.name" type="text" placeholder="full name" required="true">
			</label>
			<label class="item item-input label">
				<input ng-model="credentials.email" type="email" placeholder="email" required="true">
			</label>
			<label class="item item-input label">
				<input ng-model="credentials.password" type="password" placeholder="password" required="true">
			</label>
			<button ng-click="doRegister();" class="button button-small login-button button-assertive first-button">
				SIGN UP
			</button>
			<p class="account-text">
				Already have an account?
			</p>
			<a ng-href="#/login" class="button button-clear button-block button-assertive">
				Login
			</a>
		</div>

	</ion-content>
</ion-view>
