/*
This file contains styles that can be extended and used
by the app
*/

//Splash screen
#splash {
    background-color: #ef473a;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #splash-title {
        color: white;
        font-size: 40px;
    }
}

//General class stylings
.profile-picture {
    background: url('../img/blank-profile.png') no-repeat;
    background-size: cover;
}

@mixin round-pic($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 2px solid red;
}

//Colors
$gray-text: #666666;

$padding: 3px;
$margin: 3px;
