#message-view {

    .flex-container {
        display: flex;
        height: 100%;
        flex-direction: column;

        .message-list {
            flex: 2;

            .message-wrapper {

                .chat-bubble {
                    min-width: 40%;
                    clear: both;

                    &.right {
                        background: none;
                        border: 2px solid #ef473a;
                        color: #000000;
                    }

                    &.left {
                        background: none;
                        border: 2px solid #e6e5eb;
                    }
                }

            }

            .food-image {
                margin: 2px auto;
            }

        }

        .food-grid {
            flex: 1;
            border-top: 2px solid darkred;
            background: whitesmoke;

            .selected-icon {
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 1px solid $gray-border;
                    border-radius: 4px;
                }
            }

            .food-image {
                margin: 0 auto;
            }
        }
    }

    #send-button {
        margin: 0 auto;
    }

}
