#message-view {

    .flex-container {
        display: flex;
        height: 100%;
        flex-direction: column;

        .message-list {
            flex: 2;

            .message-wrapper {
                display: block;
                position: relative;
                height: 105px;
                margin: 0 15px;

                .chat-box {
                    position: absolute;
                    top: 0;
                    background: none;
                    color: #000000;

                    &.right {
                        right: 0;
                    }

                    &.left {
                        left: 0;
                    }

                    .user-image {
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        border: 2px solid $gray-border;
                        width: 45px;
                        height: 45px;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }

                    .food-detail {
                        display: inline-block;
                        margin-left: 6px;
                        vertical-align: middle;
                        width: 70px;

                        .food-image {
                            display: block;
                            margin: 2px auto;
                        }

                        .wfl-image {
                            margin: 2px auto;
                        }

                        .message-detail {
                            display: block;
                            text-align: center;
                        }
                    }
                }

            }

        }

        .food-grid {
            flex: 1;
            border-top: 2px solid darkred;
            background: whitesmoke;

            .container {
                position: relative;
                height: 100%;

                .food-scroll {
                    max-height: 230px;

                    .selected-icon {
                        position: relative;

                        &:before {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            border: 1px solid $gray-border;
                            border-radius: 4px;
                        }
                    }

                    .food-image {
                        margin: 0 auto;
                    }

                }

                .btn-container {
                    padding: 6px;
                    height: 50px;

                    .button {
                        line-height: 35px;
                        height: 35px;
                        margin: 0 auto;
                        min-height: 0px;
                    }
                }
            }

        }
    }

}
