#profile-page {
    $img-size: 60px;

    #profile-top {
        position: relative;
        height: 80px;
        border-bottom: 2px solid red;
        box-sizing: border-box;
        padding: 10px;

        .profile-picture {
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            border-radius: 50%;
            width: $img-size;
            height: $img-size;
            padding: 0;
            border: 2px solid $gray-border;

            .pic {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .details {
            display: inline-block;
            vertical-align: middle;

            .text {
                color: black;
                font-size: 20px;
                font-weight: bold;
            }

        }

        .icon-action {
            position: absolute;
            bottom: 6px;
            right: 6px;
            min-height: 0px;
            height: 30px;
            line-height: 30px;

            &:before {
                padding-right: 6px;
                line-height: 30px;
                font-size: 18px;
            }

            &#change-pic:before {
                padding-right: 0;
                font-size: 33px;
            }
        }
    }

    .log-header {
        margin: 10px auto;
        text-align: center;
        display: block;

        .text {
            font-weight: bold;
            font-size: 17px;
        }
    }

    .log-grid {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .log-row {
            border-bottom: 1px solid $gray-border;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                border: none;
            }

            .log-col-label {
                text-align: center;
                font-weight: bold;
                font-size: 15px;
            }

            .log-col-content {

                .food-entry {
                    display: inline-block;
                    width: 50px;
                    height: 50px;

                    .food-image {
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }

    }

}
