<ion-modal-view>
    <ion-header-bar class="bar-light bar-header item-input-inset">
        <form ng-submit="searchUser()" class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="modalValues.searchTerm">
        </form>
        <button class="button button-clear"
                ng-click="closeModal()">
            Cancel
        </button>
    </ion-header-bar>
    <ion-content>

        <ion-list>
            <ion-item class="item-avatar item-button-right"
                      ng-repeat="user in userResult">
                <img ng-if="user.picUrl" ng-src="{{user.picUrl}}" alt="profile" />
                <img ng-if="!user.picUrl" src="http://3.bp.blogspot.com/-zR75pEKCSSU/VYGjwNogrmI/AAAAAAAAA1Y/xgPrSXra3fE/s200-c/darts-102919_1280.jpg" alt="profile" />
                <h2 class="item-text-center item-text-wrap">{{user.name}}</h2>
                <button class="button button-clear ion-plus-round"
                        ng-click="addFriend(user)">
                </button>
            </ion-item>
        </ion-list>
        <h2 ng-show="noUserResult">No users found.</h2>
    </ion-content>
</ion-modal-view>
