<ion-modal-view id="add-friends-modal">
    <ion-header-bar class="bar-light bar-header item-input-inset">
        <form ng-submit="searchUser()" class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="modalValues.searchTerm">
        </form>
        <button class="button button-clear"
                ng-click="closeModal()">
            Cancel
        </button>
    </ion-header-bar>
    <ion-content>

        <ion-list class="user-list">
            <ion-item class="user-item"
                      ng-click="goToProfile(user)"
                      ng-repeat="user in userResult">
                  <div class="profile-picture">
                      <img ng-if="user.picData || user.picUrl"
                          ng-src="{{user.picData ? ('data:image/jpeg;base64,' + user.picData) : user.picUrl }}"
                          alt="profile" />
                  </div>
                  <h2 class="user-name item-text-wrap">{{user.name}}</h2>
                  <button class="button button-clear ion-chevron-right"></button>
            </ion-item>
        </ion-list>
        <div class="item item-divider" ng-if="currentFriends.length > 0">
            Current Friends
        </div>
        <ion-list class="user-list" ng-if="currentFriends.length > 0">
            <ion-item class="user-item"
                    ng-click="goToProfile(user)"
                    ng-repeat="user in currentFriends">
                <div class="profile-picture">
                    <img ng-if="user.picData || user.picUrl"
                        ng-src="{{user.picData ? ('data:image/jpeg;base64,' + user.picData) : user.picUrl }}"
                        alt="profile" />
                </div>
                <h2 class="user-name item-text-wrap">{{user.name}}</h2>
                <button class="button button-clear ion-chevron-right"></button>
            </ion-item>
        </ion-list>
        <h2 ng-show="noUserResult" class="no-result">No users found.</h2>
    </ion-content>
</ion-modal-view>
